* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

BODY {
	background-color:#000000;
	color:#999999;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:12px;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
}

DIV.slab {
	background-image:url(../img/tile.png);
	box-shadow: 0px 0px 10px #33b5e5;
	opacity: 0.9;
	border-style: ridge;
	border-color: #33b5e5;
	border-width: 3px 3px 3px 3px;
	background-color:#080808;
	border-radius: 4px 0px 10px 1px;
	border-top-right-radius: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 10px;
}

a {text-shadow: 0px 0px 12px #44ccff;}
a:link {color:#ffffff; text-decoration:none;}
a:hover {color:#ffffff; text-decoration:underline;}
a:visited {color:#ffffff;}